p

{
    color:rgb(244, 0, 0,);
    font-size:larger;
}
h1  {
    color:red;
    text-align: center;
}

body{ 
 background-color:rgb(153, 204, 255);

}

div{
    max-width: 600px;
}
